# Create .env.local and .env.production

# In package.json:
# The `dev` script will run in `development` mode and will use the .env.local file
# The `build` script will run in `production` mode and will use the .env.production file

VITE_API_URL=
