# dependencies
/node_modules

# output
.output
.vercel
/.svelte-kit
/build

# misc
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.development
!.env.test

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
