@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors are in RGB */
    --foreground: 27 27 30;
    --background: 255 254 245;
    --primary: 91 140 90;
    --secondary: 255 199 38;
    --accent: 87 82 126;
    --destructive: 227 101 91;
    --muted: 161 166 180;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: 255 254 245;
        --background: 27 27 30;
        --primary: 91 140 90;
        --secondary: 255 199 38;
        --accent: 87 82 126;
        --destructive: 227 101 91;
        --muted: 161 166 180;
    }
}

@layer base {
    * {
        @apply border-foreground/20;
    }

    body {
        @apply bg-background text-foreground font-tanker tracking-wide;
    }
}

.animate-in {
    animation: animateIn 0.5s ease 0.15s both;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
