@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 30, 11%, 4%;
  --background: 53, 100%, 98%;
  --primary: 138 87%, 27%;
  --destructive: 358, 65%, 55%;
  --muted: 194, 8%, 43%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 53, 100%, 98%;
    --background: 30, 11%, 4%;
    --primary: 138 87%, 27%;
    --destructive: 358, 65%, 55%;
    --muted: 190, 10%, 12%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
